
.HomePage{
  text-align: center;
  margin-top: 20vh;
  margin-bottom: 30vh;
}

.ResultsPage{
  text-align: center;
  margin-top: 20vh;
  margin-bottom: 30vh;
}


.heart {
  width: 100px;
  height: 90px;
  background-color: #f05656;
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
}

.result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
}

.BoxName {
width: 250px;
height: 60px;
border-radius: 30px 30px;
box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
border-style: none;
}

.BoxCalcule {
width: 250px;
height: 60px;
border-radius: 30px 30px;
box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
border-style: none;
background-color:#FF8989;
font-size: 16px;
margin-top: 4vh
}

